# Use pandas API to finish problem in this notebook.

In [2]:
import numpy as np
import pandas as pd

In [1]:
from io import BytesIO
from zipfile import ZipFile
import requests

**Let download movie lense dataset [MovieLens](https://grouplens.org/datasets/movielens/) and extract zip file using various python packages**

http://files.grouplens.org/datasets/movielens/ml-latest-small.zip

In [4]:
r = requests.get("http://files.grouplens.org/datasets/movielens/ml-latest-small.zip")
print(r.status_code)
zipfile = ZipFile(BytesIO(r.content))

200

In [5]:
zipfile.extractall()

In [38]:
! ls ml-latest-small/

links.csv  movies.csv  ratings.csv  README.txt	tags.csv

In [96]:
! head  ./ml-latest-small/movies.csv

**It is a csv file.** We can use pandas read_csv to read this file into pandas DataFrame

In [94]:
# lets read movies.csv file
movie = pd.read_csv('./ml-latest-small/movies.csv')

movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Q1 (.5 point) Check if any columns is null

In [2]:
# write pandas code here

# Q 2 (.5 point) Check datatype of columns

In [1]:
# write pandas code here

# Q3 (1 point) Using *str* on  series genres, build following  unique_genere set. It should contain all the unique genres from genres column. Print unique genres too.

In [23]:
# write pandas code here
unique_genere = ???

# Q 4 (1 point) build columns for different genres with value True or False based on whether a  genre is present or not in an observation?

<font color ='red'>We did solve it in the class using applymap function. Use **str** for  series to solve this problem. </font>

In [3]:
# write pandas code here

# Q5(1 point) Build year column in movie data frame. Year are embedded in title columns

Python regular expression  package **re** is very useful tool for text data handling.  This excercise is a very primitive use of it.


note
- . mean any character
- *. means "0 or more instances of the preceding regex token
- \[ matches a literal [ character
- [A-Za-z0-9] digits and lower, upper case, I think same as \w+
- '+' matches one more more times
- \d Matches any decimal digit

In [4]:
# write pandas code here

# Q 6 (1 point) Build a *movie_title* column containing  the title of the movie(It should not contain year). Drop the original *title* columns. Display final movie dataFrame too.

In [5]:
 # write pandas code here