# Extracting text from pdf files

# PDFMiner.six
PDFMiner is a tool for extracting information from PDF documents.
https://github.com/pdfminer/pdfminer.six

In [3]:
!pip install pdfminer.six

Collecting pdfminer.six
  Using cached https://files.pythonhosted.org/packages/8a/fd/6e8746e6965d1a7ea8e97253e3d79e625da5547e8f376f88de5d024bacb9/pdfminer.six-20181108-py2.py3-none-any.whl
Requirement already satisfied: pycryptodome in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from pdfminer.six) (3.7.3)
Requirement already satisfied: sortedcontainers in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from pdfminer.six) (2.1.0)
Requirement already satisfied: six in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from pdfminer.six) (1.12.0)
Installing collected packages: pdfminer.six
Successfully installed pdfminer.six-20181108
You are using pip version 18.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

Extracting text from word to vec paper

https://papers.nips.cc/paper/5021-distributed-representations-of-words-and-phrases-and-their-compositionality.pdf

In [1]:
!curl -O https://papers.nips.cc/paper/5021-distributed-representations-of-words-and-phrases-and-their-compositionality.pdf

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  109k  100  109k    0     0  42748      0  0:00:02  0:00:02 --:--:-- 42746

# Let's extract text from this pdf

In [4]:
!pdf2txt.py -o word2vec.txt -p 1,2  5021-distributed-representations-of-words-and-phrases-and-their-compositionality.pdf

In [5]:
!head -50 word2vec.txt

Distributed Representations of Words and Phrases

and their Compositionality

Tomas Mikolov

Google Inc.

Mountain View

Ilya Sutskever

Google Inc.

Mountain View

Kai Chen
Google Inc.

Mountain View

mikolov@google.com

ilyasu@google.com

kai@google.com

Greg Corrado

Google Inc.

Mountain View

Jeffrey Dean
Google Inc.

Mountain View

gcorrado@google.com

jeff@google.com

Abstract

The recently introduced continuous Skip-gram model is an efﬁcient method for
learning high-quality distributed vector representations that capture a large num-
ber of precise syntactic and semantic word relationships. In this paper we present
several extensions that improve both the quality of the vectors and the training
speed. By subsampling of the frequent words we obtain signiﬁcant speedup and
also learn more regular word representations. We also describe a simple alterna-

# can get xml out of pdf too

In [7]:
!dumppdf.py -p 1,2 5021-distributed-representations-of-words-and-phrases-and-their-compositionality.pdf

<dict size="6">
<key>Contents</key>
<value><ref id="13" /></value>
<key>Parent</key>
<value><ref id="1" /></value>
<key>Type</key>
<value><literal>Page</literal></value>
<key>MediaBox</key>
<value><list size="4">
<number>0</number>
<number>0</number>
<number>612</number>
<number>792</number>
</list></value>
<key>Rotate</key>
<value><number>0</number></value>
<key>Resources</key>
<value><dict size="3">
<key>ExtGState</key>
<value><ref id="14" /></value>
<key>ProcSet</key>
<value><list size="3">
<literal>PDF</literal>
<literal>ImageB</literal>
<literal>Text</literal>
</list></value>
<key>Font</key>
<value><ref id="16" /></value>
</dict></value>
</dict><dict size="6">
<key>Contents</key>
<value><ref id="21" /></value>
<key>Parent</key>
<value><ref id="1" /></value>
<key>Type</key>
<value><literal>Page</literal></value>
<key>MediaBox</key>
<value><list size="4">
<number>0</number>
<number>0</number>
<number>612</number>
<number>792</number>
</list></value>
<key>Rotate</key>
<value><number>0</number></value>
<key>Resources</key>
<value><dict size="3">
<key>ExtGState</key>
<value><ref id="22" /></value>
<key>ProcSet</key>
<value><list size="3">
<literal>PDF</literal>
<literal>ImageB</literal>
<literal>Text</literal>
</list></value>
<key>Font</key>
<value><ref id="25" /></value>
</dict></value>
</dict>

# Extracting tables from pdf files

In [8]:
! pip install tabula-py

Requirement already satisfied: tabula-py in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (1.3.1)
Requirement already satisfied: numpy in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from tabula-py) (1.15.4)
Requirement already satisfied: pandas in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from tabula-py) (0.23.4)
Requirement already satisfied: distro in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from tabula-py) (1.4.0)
Requirement already satisfied: urllib3 in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from tabula-py) (1.24.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from pandas->tabula-py) (2.7.5)
Requirement already satisfied: pytz>=2011k in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from pandas->tabula-py) (2018.7)
Requirement already satisfied: six>=1.5 in /media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages (from python-dateutil>=2.5.0->pandas->tabula-py) (1.12.0)
You are using pip version 18.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [9]:
from tabula import read_pdf

In [11]:
df2 = read_pdf("https://github.com/tabulapdf/tabula-java/raw/master/src/test/resources/technology/tabula/arabic.pdf")

In [12]:
df2

                         مرحباً                 اسمي سلطان
0  انا من ولاية كارولينا الشمال                من اين انت؟
1                          1234                عندي 47 قطط
2                  هل انت شباك؟  اسمي Jeremy في الانجليزية
3      Jeremy is جرمي in Arabic                        NaN

In [22]:
tb = read_pdf('5021-distributed-representations-of-words-and-phrases-and-their-compositionality.pdf',pages= 6, multiple_tables=True)

In [23]:
tb[1]

            0               1                   2     3   4                5
0      Method  Dimensionality  No subsampling [%]  −510 NaN  subsampling [%]
1       NEG-5             300                  24   NaN NaN               27
2      NEG-15             300                  27   NaN NaN               42
3  HS-Huffman             300                  19   NaN NaN               47

# drop colums with NA

In [36]:
# write code here

# split -apply combine data analysis/cleanup

Wickham, Hadley (2011). "The split-apply-combine strategy for data analysis". Journal of Statistical Software. 40 (1): 1–29.

## split
Split data into group based on key or a function

## Apply:
- Aggregation: Compute group statistics(mean, sum, count)
- Transformation: Normalize/fill NA data as per the group.
- filter: Discard group/group members based on number of elements or some statistics

## Combine
Group by will combine results.

<img height="1000" width="1000" src="http://qcbs.ca/wiki/_media/split-apply-combine.png?w=600&tok=0bb677"> </img>

<font size=2 >credit:r_workshop2 [CSBQ-QCBS Wiki]QCBS</font>

In [37]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                       'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.arange(5),
                      'data2' : np.arange(5) + 5})
df

   data1  data2 key1 key2
0      0      5    a  one
1      1      6    a  two
2      2      7    b  one
3      3      8    b  two
4      4      9    a  one

How to split data into group for some statistical analysis. Use groupby

In [38]:
group_df = df['data1'].groupby(df['key1'])
type(group_df)

pandas.core.groupby.groupby.SeriesGroupBy

Nothing is computed but we can ask for specific value(stats)

# sum in elements in each group

In [11]:
group_df.sum()

key1
a    5
b    5
Name: data1, dtype: int64

# count of elements in a group

In [47]:
group_df.count()

      data1  data2  key2
key1
a         3      3     3
b         2      2     2

# using columns names

In [71]:
group_df =  df.groupby('key1')
group_df.mean()

         data1     data2
key1
a     1.666667  6.666667
b     2.500000  7.500000

In [79]:
# or subset groupby object before mean if only interested in data1
group_df[['data1']].mean()

         data1
key1
a     1.666667
b     2.500000

In [39]:
# same as
df['data1'].groupby(df['key1']).mean()

key1
a    1.666667
b    2.500000
Name: data1, dtype: float64

# how to get a group

In [82]:
group_df.get_group('a')

   data1  data2 key1 key2
0      0      5    a  one
1      1      6    a  two
4      4      9    a  one

# Can groupby multiple keys

In [34]:
df

   data1  data2 key1 key2
0      0      5    a  one
1      1      6    a  two
2      2      7    b  one
3      3      8    b  two
4      4      9    a  one

In [42]:
df['data1'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     2
      two     1
b     one     2
      two     3
Name: data1, dtype: int64

# apply a custom function

In [44]:
df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                     'size': list('SSMMMLL'),
                     'weight': [8, 10, 11, 1, 20, 12, 12],
                   'adult' : [False] * 5 + [True] * 2})
df

   adult animal size  weight
0  False    cat    S       8
1  False    dog    S      10
2  False    cat    M      11
3  False   fish    M       1
4  False    dog    M      20
5   True    cat    L      12
6   True    cat    L      12

In [46]:
group_df = df.groupby('animal')
group_df.apply(lambda x: print(type(x)))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: []
Index: []

In [47]:
group_df.apply(lambda x: x.min())

        adult animal size  weight
animal
cat     False    cat    L       8
dog     False    dog    M      10
fish    False   fish    M       1

# List the size of the animals with the highest weight

In [101]:
group_df.apply(lambda x: print(type(x)))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: []
Index: []

In [102]:
# Write code here

animal
cat     L
dog     M
fish    M
dtype: object

# Groupby name and z-normalize weight

In [105]:
df

   adult animal size  weight
0  False    cat    S       8
1  False    dog    S      10
2  False    cat    M      11
3  False   fish    M       1
4  False    dog    M      20
5   True    cat    L      12
6   True    cat    L      12

In [48]:
# q maybe
# write code here

# iterating over groupby object

In [60]:
for name, sub_df in group_df:
    print(name,'\n', sub_df)

cat
    adult animal size  weight
0  False    cat    S       8
2  False    cat    M      11
5   True    cat    L      12
6   True    cat    L      12
dog
    adult animal size  weight
1  False    dog    S      10
4  False    dog    M      20
fish
    adult animal size  weight
3  False   fish    M       1

# Groupby colums

In [65]:
df.dtypes

adult       bool
animal    object
size      object
weight     int64
dtype: object

In [66]:
# q try
dtype_grouped = df.groupby(df.dtypes, axis=1)

In [68]:
for name, sub_df in dtype_grouped:
    print(name)
    print(sub_df)

bool
   adult
0  False
1  False
2  False
3  False
4  False
5   True
6   True
int64
   weight
0       8
1      10
2      11
3       1
4      20
5      12
6      12
object
  animal size
0    cat    S
1    dog    S
2    cat    M
3   fish    M
4    dog    M
5    cat    L
6    cat    L

# Grouping with functions

In [96]:
df1 = df[['animal', 'size', 'weight']]
df1= df1.set_index('animal')
df1

       size  weight
animal
cat       S       8
dog       S      10
cat       M      11
fish      M       1
dog       M      20
cat       L      12
cat       L      12

In [98]:
df1.groupby(len).sum()

   weight
3      73
4       1

# aggregate function

Aggregation means data transformation that produces scalar values from vector

In [50]:
# credit source: https://github.com/wesm/pydata-book 
tips = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/tips.csv')
tips.sample(5)

     total_bill   tip smoker   day    time  size
184       40.55  3.00    Yes   Sun  Dinner     2
203       16.40  2.50    Yes  Thur   Lunch     2
50        12.54  2.50     No   Sun  Dinner     2
220       12.16  2.20    Yes   Fri   Lunch     2
120       11.69  2.31     No  Thur   Lunch     2

In [54]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [51]:
grouped = tips.groupby(['day', 'smoker'])

# apply more than one function

In [52]:
grouped['tip'].agg(['mean', 'median'])

                 mean  median
day  smoker
Fri  No      2.812500   3.125
     Yes     2.714000   2.500
Sat  No      3.102889   2.750
     Yes     2.875476   2.690
Sun  No      3.167895   3.020
     Yes     3.516842   3.500
Thur No      2.673778   2.180
     Yes     3.030000   2.560

# Give a different name too. Handy if you use lambda function

In [55]:
grouped['tip', 'tip_pct'].agg([('group_mean','mean'), ('sample_size','count'), ('data_range', lambda x:x.max()- x.min())])

                   tip                           tip_pct              \
            group_mean sample_size data_range group_mean sample_size
day  smoker
Fri  No       2.812500           4       2.00   0.151650           4
     Yes      2.714000          15       3.73   0.174783          15
Sat  No       3.102889          45       8.00   0.158048          45
     Yes      2.875476          42       9.00   0.147906          42
Sun  No       3.167895          57       4.99   0.160113          57
     Yes      3.516842          19       5.00   0.187250          19
Thur No       2.673778          45       5.45   0.160298          45
     Yes      3.030000          17       3.00   0.163863          17


            data_range
day  smoker
Fri  No       0.067349
     Yes      0.159925
Sat  No       0.235193
     Yes      0.290095
Sun  No       0.193226
     Yes      0.644685
Thur No       0.193350
     Yes      0.151240

In [58]:
# if you want to make new columns as hierarchical row index
grouped['tip', 'tip_pct'].agg([('group_mean','mean'), ('sample_size','count'), ('data_range', lambda x:x.max()- x.min())]).stack()

                               tip    tip_pct
day  smoker
Fri  No     group_mean    2.812500   0.151650
            sample_size   4.000000   4.000000
            data_range    2.000000   0.067349
     Yes    group_mean    2.714000   0.174783
            sample_size  15.000000  15.000000
            data_range    3.730000   0.159925
Sat  No     group_mean    3.102889   0.158048
            sample_size  45.000000  45.000000
            data_range    8.000000   0.235193
     Yes    group_mean    2.875476   0.147906
            sample_size  42.000000  42.000000
            data_range    9.000000   0.290095
Sun  No     group_mean    3.167895   0.160113
            sample_size  57.000000  57.000000
            data_range    4.990000   0.193226
     Yes    group_mean    3.516842   0.187250
            sample_size  19.000000  19.000000
            data_range    5.000000   0.644685
Thur No     group_mean    2.673778   0.160298
            sample_size  45.000000  45.000000
            data_range    5.450000   0.193350
     Yes    group_mean    3.030000   0.163863
            sample_size  17.000000  17.000000
            data_range    3.000000   0.151240

# Cross tabulation. Computing frequencies. 

Help full in running various statistical test

In [249]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [250]:
pd.crosstab(tips.day, tips.smoker)

smoker  No  Yes
day
Fri      4   15
Sat     45   42
Sun     57   19
Thur    45   17

# Some examples

In [188]:
df = pd.DataFrame({'A' : [1, 1, 1, 2, 2, 2], 'B' : [1, 2, np.nan, 2, 2, np.nan]})
df

   A    B
0  1  1.0
1  1  2.0
2  1  NaN
3  2  2.0
4  2  2.0
5  2  NaN

In [195]:
# group by A and  fill NA values in group by group mean

# fill negative values by group mean

In [251]:
df = pd.DataFrame({'A' : [1, 1, 1, 2, 2, 2], 'B' : [1, 2, -1, 2, 2, -1]})
df

   A  B
0  1  1
1  1  2
2  1 -1
3  2  2
4  2  2
5  2 -1

# fill NA values by given values

In [254]:
df = pd.DataFrame({'A' : [1, 1, 1, 2, 2, 2], 'B' : [1, 2, np.nan, 2, 2, np.nan]})
df
grouped = df.groupby('A')
fill_values= {1:145, 2:22}
## hint see this
grouped.apply(lambda x:print(x.name))

1
1
2

Empty DataFrame
Columns: []
Index: []

# Adding a columns

In [244]:
df = pd.DataFrame({'Color': 'Red Red Red Blue'.split(),
               'Value': [100, 150, 50, 50]})
df

  Color  Value
0   Red    100
1   Red    150
2   Red     50
3  Blue     50

# add length  column in df based on length of color values

In [246]:
## write code here

# computing exptected values

In [237]:
#np.random.seed(1)
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
                                   'b', 'b', 'b', 'b'],
                     'data': range(8),
                     'probability':[.1, .5, .1, .3, .5, .2, .2, .1]})
df

  category  data  probability
0        a     0          0.1
1        a     1          0.5
2        a     2          0.1
3        a     3          0.3
4        b     4          0.5
5        b     5          0.2
6        b     6          0.2
7        b     7          0.1

# Compute the expected value for each category

In [243]:
# write code here